NUXT_PUBLIC_GAME_ON_API_URL=https://gameon-api.valentinvirot.fr
NUXT_PUBLIC_KEYCLOAK_AUTHORITY=https://auth.valentinvirot.fr/realms/gameon
NUXT_PUBLIC_KEYCLOAK_CLIENT_ID=gameon-front-dev
NUXT_PUBLIC_KEYCLOAK_REALM=gameon
